<h3>Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="email" class="mdl-textfield__label"><%= f.label :email %></label>
      <%= f.email_field(:email, class: "mdl-textfield__input", autofocus: true) %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <% if @minimum_password_length %>
        <% pwd_min_length = "(#{@minimum_password_length} characters minimum)" %>
      <% else %>
        <% pwd_min_length = "" %>
      <% end %>
      <label for="password" class="mdl-textfield__label"><%= f.label :password %><small> <%= pwd_min_length %></small></label>
      <%= f.password_field(:password, class: "mdl-textfield__input", autocomplete: "off") %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>

  <div class="field">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="password_confirmation" class="mdl-textfield__label"><%= f.label :password_confirmation %></label>
      <%= f.password_field(:password_confirmation, class: "mdl-textfield__input", autocomplete: "off") %>
    </div>
  </div>

  <div class="field">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="current_confirmation" class="mdl-textfield__label"><%= f.label :current_password %> <small>(to confirm your changes)</small></label>
      <%= f.password_field(:current_password, class: "mdl-textfield__input", autocomplete: "off") %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>

<h4>Cancel my account</h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></p>

<%= link_to "Back", :back %>
