<% if @search_date %>
  <h4>Available spaces on <%= @search_date.strftime("%A, %d/%m/%Y") %></h4>
<% else %>
<h4>All available spaces</h4>
<% end %>
<div class="mdl-grid">
  <%= form_tag(spaces_path, :method => "get", id: "search_date_form") do %>
    <%= date_field_tag :search_date, params[:search], class: "searchBox", id: "search_date_field", required: true %>
    <%= submit_tag "Search", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <%= link_to " Show all", "/spaces" %>
  <% end %>
</div>
<% if @spaces.any? %>
  <table class="spaceListTable mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>#</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Price</th>
        <th class="mdl-data-table__cell--non-numeric">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @spaces.each.with_index do |space, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to space.name, space_path(space) %></td>
          <td><%= space.price %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= space.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No spaces found
<% end %>
