<h4>Add new space</h4>

<% if @space.errors.any? %>
 <section id="errors" >
   <h2> <%= pluralize(@space.errors.count, "error") %> prohibited this space from being saved: </h2>
   <ul>
     <% @space.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </section>
<% end %>

<%= form_for(@space) do |f| %>
  <div class="">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="name" class="mdl-textfield__label"><%= f.label :name %></label>
      <%= f.text_field(:name, class: "mdl-textfield__input") %>
    </div>
  </div>
  <div class="">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="price" class="mdl-textfield__label"><%= f.label :price %></label>
      <%= f.number_field(:price, class: "mdl-textfield__input", step: "0.01") %>
    </div>
  </div>
  <div class="">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="available_from" class="mdl-textfield__label"><%= f.label :available_from %></label>
      <% date = Time.new%>
      <%= f.date_field(:available_from, class: "mdl-textfield__input", value: "#{date.year}-#{date.month}-#{date.day}", required: true) %>
    </div>
  </div>
  <div class="">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="available_to" class="mdl-textfield__label"><%= f.label :available_to %></label>
      <%= f.date_field(:available_to, class: "mdl-textfield__input", value: "#{date.year}-12-31", required: true) %>
    </div>
  </div>
  <div class="">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label for="description" class="mdl-textfield__label"><%= f.label :description %></label>
      <%= f.text_area(:description, class: "mdl-textfield__input") %>
    </div>
  </div>
  <div>
    <%= f.submit "List my space", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
