<h4>Show space</h4>

<table class="showSpaceTable">
  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><%= @space.name %></td>
    </tr>
    <tr>
      <td><strong>Price</strong></td>
      <td>$ <%= @space.price %></td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td><%= @space.description %></td>
    </tr>
    <tr>
      <td><strong>Available days:</strong></td>
      <td>
        <%= @space_dates.map{ |space_date| space_date.date }.join(" | ")%>
      </td>
    </tr>
  </tbody>
</table>
<div class="">
  <% if (current_user && current_user.id == @space.user_id)%>
    <%= link_to "Edit space", edit_space_path(@space) %>
  <% end %>
</div>
