<h4><%= @space.name %></h4>

<table class="showSpaceTable">
  <tbody>
    <tr>
      <td><strong>Price</strong></td>
      <td>$<%= @space.price %> per night</td>
    </tr>
    <tr>
      <td><strong>Owner</strong></td>
      <td><a href="mailto:<%= @owner.email %>"><%= @owner.email %></td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td><%= @space.description %></td>
    </tr>
    <tr>
      <td><strong>Available days:</strong></td>
      <td>
        <%= @available_space_dates.map{ |space_date| space_date.date }.join(" | ")%>
      </td>
    </tr>
  </tbody>
</table>
<div class="">
  <% if (current_user && current_user.id == @space.user_id)%>
    <%= link_to "Edit space", edit_space_path(@space)%> |
  <% end %>
  <% if (current_user && current_user.id != @space.user_id)%>
    <%= link_to "Add request", new_space_request_path(@space) %> |
  <% end %>
  <%= link_to "Back", :back %>
</div>
