<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers BNB rails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all" %>
    <%= stylesheet_link_tag "https://code.getmdl.io/1.2.1/material.red-deep_orange.min.css", media: "all" %>
    <%= javascript_include_tag "https://code.getmdl.io/1.2.1/material.min.js" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", media: "all" %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title" id="brand_1">Makers BNB</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <% if user_signed_in?%>
              <i class="material-icons">account_circle</i><a class="mdl-navigation__link" href="/users/edit"><%= current_user.email%></a>
            <% else %>
              Guest
            <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer" id="menu">
        <span class="mdl-layout-title logo" id="brand_2">Makers BNB</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/spaces">Spaces</a>
          <% if user_signed_in? %>
            <a class="mdl-navigation__link" href="/my_requests">My requests</a>
            <a class="mdl-navigation__link" href="/spaces/new">Add space</a>
            <a class="mdl-navigation__link" href="/users/edit"><%= current_user.email%></a>
            <% if current_user.admin %>
              <a class="mdl-navigation__link" href="/admin">Admin</a>
            <% end %>
            <a class="mdl-navigation__link" href="/users/sign_out" data-method="delete">Sign out</a>
          <% else %>
            <a class="mdl-navigation__link" href="/users/sign_up">Sign up</a>
            <a class="mdl-navigation__link" href="/users/sign_in">Sign in</a>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <% if notice %>
          <div class="field" id="notice">
            <div class="msg msg-success msg-success-text">
              <%= notice %>
            </div>
          </div>
          <% end %>
          <% if alert %>
          <div class="field" id="alert">
            <div class="msg msg-danger msg-danger-text">
              <%= alert %>
            </div>
          </div>
          <% end %>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div>&#169; <a href="http://www.github.com/peter-miklos"> Peter Miklos</a></div>
        </div>
      </footer>
    </div>
  </body>
</html>
